<table>

    <thead>
        <tr>
            <th style='text-align: left'>Id</th>
            <th style='text-align: left'>Dni</th>
            <th style='text-align: left'>Last Name</th>
            <th style='text-align: left'>First Name</th>
            <th style='text-align: left'>Email</th>
            
        </tr>
        
    </thead>
    
    <tbody>
        <tr>
            <td></td>
            <td><input id='dni' /></td>
            <td><input id='lastName' /></td>
            <td><input id='firstName' /></td>
            <td><input id='email' /></td>

            <td colspan='2' style='text-align: center'><button onclick='saveStudent()'>Agregar</button></td>
            <td colspan='2' style='text-align: center'><button onclick='updateStudent()'>Modificar</button></td>
            <td colspan='2' style='text-align: center'><button onclick='deleteStudent()'>Eliminar</button></td>
            <td colspan='2' style='text-align: center'><button onclick='viewStudent()'>Ver</button></td>
        </tr>
    </tbody>    


      <tfoot>
        
        
    </tfoot>  



</table>

<!--td></td>
<td><input id='dni2' /></td>
<td><input id='lastName2' /></td>
<td><input id='firstName2' /></td>
<td><input id='email2' /></td>

<ng-template #Ver let-modal>
    <div class="modal-header"></div>
    <div class="modal-body">
      <label>Id</label>
      <input class="from-control" [(ngModel)]= "id2" readonly>
      <label>DNI</label>
      <input class="from-control" [(ngModel)]= "dni2" readonly>>
      <label>Last Name</label>
      <input class="from-control" [(ngModel)]= "lastName2" readonly>>
      <label>First Name</label>
      <input class="from-control" [(ngModel)]= "firstName2" readonly>>
      <label>Email</label>
      <input class="from-control" [(ngModel)]= "email2" readonly>>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="modal.close()">Guargar</button>
    </div>
  </ng-template>  -->



  
   
