
<tr>
  <td><input type="text" [(ngModel)]="id" placeholder="ID"></td>
  <td><input type="text" [(ngModel)]="dni" placeholder="DNI"></td>
  <td><input type="text" [(ngModel)]="firstName" placeholder="Nombre"></td>
  <td><input type="text" [(ngModel)]="lastName" placeholder="Apellido"></td>
  <td><input type="text" [(ngModel)]="email" placeholder="Email"></td>
  <td><button (click)="saveStudent()">Agregar Estudiante</button></td>
</tr>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>DNI</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of studentList">
      <td>{{ student.id }}</td>
      <td>{{ student.dni }}</td>
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.email }}</td>
      <td>
        <button (click)="editStudent(student)">Editar</button>
        <button (click)="deleteStudent(student)">Eliminar</button>
        <button (click)="viewStudent($event, student)">Ver Estudiante</button>

      </td>
    </tr>
  </tbody>
</table>




























<!--<div>

   Formulario para ingresar datos de estudiantes 
  <form>
    <input type="text" placeholder="ID" [(ngModel)]="id">
    <input type="text" placeholder="DNI" [(ngModel)]="dni">
    <input type="text" placeholder="FirstName" [(ngModel)]="firstName">
    <input type="text" placeholder="LastName" [(ngModel)]="lastName">
    <input type="text" placeholder="Email" [(ngModel)]="email">
  </form> 

  Lista de estudiantes en una tabla utilizando *ngFor 
  <table>
    <thead>
      <tr>
        <td>ID</td>
        <td>DNI</td>
        <td>FirstName</td>
        <td>LastName</td>
        <td>Email</td>
        

    <button (click)="saveStudent()">Guardar</button>
      </tr>
    </thead>

    
    <button onclick="updateStudent()">Actualizar</button>
    

    <tbody>
      <tr *ngFor="let student of studentList">
        <td>{{ student.id }}</td>
        <td>{{ student.dni }}</td>
        <td>{{ student.firstName }}</td>
        <td>{{ student.lastName }}</td>
        <td>{{ student.email }}</td>
        <button onclick="deleteStudent()">Eliminar</button>
        <button onclick="viewStudent()">Ver Estudiantes</button>
      </tr>
    </tbody>
  </table>
</div> -->





  
   
